.simple-table {
    margin:20px 0;
    border:1px solid #aaa;
    border-radius: 4px;
    max-width:70%;
    width:100%;
    height: fit-content;
}

.simple-table thead tr th {
    padding:5px 20px;
    background: #1976D2;
    color: #fff;
}

.simple-table thead tr th.sortable {
    cursor:pointer;
}

.simple-table thead tr th.sortable span {
    position:relative;
    display:inline-block;
    width:20px;
    height:20px;
}

.simple-table thead tr th.sortable span:after {
    content: '';
    position:absolute;
    text-align:center;
    width:20px;
    height:20px;
    top:0;
    left:0;
}

.simple-table thead tr th.sortable.ASC span:after {
    content: '>';
    rotate: 90deg;
    left:-4px;
}

.simple-table thead tr th.sortable.DESC span:after {
    content: '>';
    rotate: -90deg;
}

.simple-table tbody tr {
    transition: all .15s ease-in;
}

.simple-table tbody tr:nth-child(even) {
    background: #1976D220;
}

.simple-table tbody tr:hover {
    background:#333;
    color:#fff;
}

.simple-table tbody tr td {
    padding:5px 20px;
}

.simple-table button.edit {
    border: 1px solid #333;
    background:#fff url(./images/edit.png) no-repeat center;
    width: 28px;
    height: 28px;
    margin:3px;
    cursor:pointer;
}

.simple-table button.drop {
    border: 1px solid #333;
    background:#fff url(./images/delete.png) no-repeat center;
    width: 28px;
    height: 28px;
    margin:3px;
    cursor:pointer;
}