<form action="" name="BRAND" id="formBrand" data-base='brands'>
            <h2>Бренд</h2>
            <input type="text" name="BRAND" placeholder="Введите название бренда">
    
            <button>Сохранить</button>
        </form>