<form action="" name="MODEL" id="formModel" data-base='models'>
            <h2>Модель</h2>
            <select name="BRAND"></select>
            <input type="text" name="NAME" placeholder="Введите название модели">
    
            <button>Сохранить</button>
        </form>