<form action="" name="SERVICE" id="services" data-base='services'>
            <h2>Услуги</h2>
            <select name="OWNER" id="owner" data-rel="object">
                <option value="default">Выбери</option>
            </select>
    
            <select name="OBJECT" id="object">
            </select>
    
            <input type="text" name="NAME_SERVICE" placeholder="Название услуги">
            <input type="number" step="500" name="PRICE" placeholder="Цена">
            <input type="number" step="1" name="COUNT" placeholder="Количество">
            <input type="number" readonly name="TOTAL_PRICE" placeholder="Полная стоимость">

            <button>Сохранить</button>
        </form>
    </div>